# SPDX-FileCopyrightText: 2026 NONE
#
# SPDX-License-Identifier: CC0-1.0

[submodule "ai-robots-txt"]
	path = ai-robots-txt
	url = https://github.com/ai-robots-txt/ai.robots.txt.git
[submodule "crawler-user-agents"]
	path = crawler-user-agents
	url = https://github.com/monperrus/crawler-user-agents.git
[submodule "COUNTER-Robots"]
	path = COUNTER-Robots
	url = https://github.com/atmire/COUNTER-Robots.git
